.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.App-header.darkTheme{background-color: #282c34;color: white;}
.App-header.lightTheme{background-color: white;color: black;}

.counterText{font-size: 46px;}
.counterButton{font-size: 24px; width: 50px; height: 50px; 
  border-radius: 50%; border: none;}
.counterButton:focus{outline: none;}
.counterButton + .counterButton{margin-left: 10px;}
.counteReset{font-size: 18px; padding: 5px 15px;}